:root {
  --bg: #23252C;
  --bg-color: #1A1B21;
  --white: #FFFFFF;
}

.App {
  text-align: center;
  color: var(--white);
  background-color: var(--bg-color);
}
.footer{
  width: 100%;
  background-color: var(--bg-color);
}
footer{
  background-color:#161619 ;
  height: 70px;
  display: flex;
  justify-content: center;
  
  align-items: center;
}
footer img{
  margin-right: 2%;
}


